/koodi/viikko6/QueryLanguage/build/
/koodi/viikko4/MockitoDemo/build/
/koodi/viikko4/MaksukorttiMockito/build/
/koodi/viikko4/IntJoukkoSovellus/build/
/koodi/viikko4/Tennis/build/
/koodi/viikko5/LaskinFX11/build/